/* colorsncf
magenta : #881F74
rouge : #E41D24
rose : #C2165E */



/* Radio
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.radioGraph{
    display: flex;
    /* justify-content: space-around; */
    flex-direction: column;
    background-color: yellow;
    margin:auto;
    width:20%;
    /* flex-direction: column; */
    /* display: block; */
    /* cursor: pointer; */
}

.radioButton{
    background-color: grey;
    /* display: block; */
}

/* .radio{ */
    /* display: block; */
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* background-color: orange; */
    /* margin:auto; */
    /* flex-direction: column; */
    /* display: block; */
    /* cursor: pointer; */
/* } */


/* #couleur-distribution-retard{ */
    /* margin:auto; */
    /* background-color: green; */
    /* display: inline-block; */
/* } */

/* When the radio button is checked, add a blue background */

input[type="radio"]:checked {
    color:blue;
    background-color: crimson;
}

/* input[type="radioB"] {
    /* vertical-align: middle; */
    /* display: inline-block; */
/* }  */

input[type="radio"] {
    background-color: red;
    display: inline;
}

label > .label-body {
    background-color: blue;
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/* Slider
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#slider-container {
    background-color: #252e3f;
    padding: 2rem 6rem 4rem 4rem;
    height: 8rem;
}

.rc-slider-dot-active, .rc-slider-handle {
    border-color: crimson;
}

.rc-slider-track {
    background-color: crimson;
}

.rc-slider-rail {
    background-color: #1d2731 !important
}




/* Dropdowns
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Select {
    color: #1E1E1E;
}

.Select-menu-outer {
    /* background-color: blue; */
    border: 1px solid 1E1E1E;
}

.Select div {
    background-color: rgb(205, 205, 206);
}

.Select-menu-outer div:hover {
    background-color: crimson;
    /* color: rgb(205, 205, 206); */
}

.Select-value-label {
    color: #1E1E1E !important;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    border: 1px solid #1E1E1E;
    border-radius: 4px;
}


/* Cards
–––––––––––––––––––––––––––––––––––––––––––––––––– */


.card {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 80%;
    padding: 2rem 0;
    margin:auto;
}

#last-card {
    border-bottom: none;
}

.graph-title {
    font-size: 2rem;
    margin: 15% 0 0 25%;
}

#button-zero-threshold {
    background-color: #2f3445;
    color: #a5b1cd;
    border-color: gray;
}

#button-zero-threshold:hover {
    border-color: white;
}

#button-card {
    display: flex;
    flex-direction: column;
}

#first-card {
    padding-top: 0;
}


*[data-dash-is-loading="true"]{
    visibility: hidden;
}

button {
    display: flex;
    margin:auto;
    margin-top: 40px;
    /* padding:15px; */
    /* flex-direction: column; */
}