/* ____________________________________________________________*/
/* __________________________GENERAL___________________________*/
/* ____________________________________________________________*/
body {
    background-color: rgb(222, 222, 222);
    color: crimson;
    font:caption;
    margin: 0;
    padding: 0; 
  }

.content
{
    display: flex;
    justify-content: space-between;
    background-color: purple;
    background-color: rgb(222, 222, 222);
    background-color: #1E1E1E;
    /* margin:10px; */
    height:820px;
}

nav {
    background-color: #1E1E1E;
    
    color:rgb(205, 205, 206);
    /* min-width: 300px; */
    
    width: 20%;
    height:820px;
    text-align: center;
}

section
{
    display: flex;
    flex-direction: column;
    background-color:gold;
    background-color: rgb(222, 222, 222);
    background-color: #1E1E1E;
    margin:10px;
    /* flex:1; */
    align-items: center;
    max-height:100%;
    /* max-width:80%; */
    /* min-width:80%; */
    width:80%;
}


/* ____________________________________________________________*/
/* ____________________________KPI_____________________________*/
/* ____________________________________________________________*/


.upperKPI
{
    background-color: royalblue;
    background-color: rgb(222, 222, 222);
    background-color: #1E1E1E;
    width:100%;
    height:20%;
}
.upperKPIFake{
    display: flex;
    flex-direction: column;
    background-color: green;
    background-color: #1E1E1E;
    background-color: rgb(222, 222, 222);
    margin: 10px;
    margin-bottom: 20px;

    max-width:100%;
    /* overflow: auto; */
}

.KPIs
{
    display: flex;
    justify-content: space-around;
    margin:10px;
    height: 65%;
    max-width: 100%;
    overflow: auto;
    /* background-color:rgb(204, 255, 255); */
    /* font:caption; */
    
}

/* .rond_cercle{
    display: flex;
    flex-direction: column;
    align-items: center;
} */


.TimeSelector{
    display: flex;
    flex-direction: column;
    margin:10px;
    max-width:100%;
    height:25%;
    text-align:center;
    color:crimson;
    /* background-color: rgb(131, 214, 7); */
}

/* label{
    color:crimson;
} */

/* ____________________________________________________________*/
/* ________________________GRAPHIQUES__________________________*/
/* ____________________________________________________________*/


.custom-tabs-container{

    /* overflow: auto; */

    background-color: royalblue;
    width:100%;
    height:80%;

}

.graphiques {
    overflow: auto;
    display: flex;

    /*margin:10px; due to modf tab */

    /* padding:10px; */
    background-color: orange;
    background-color: #1E1E1E;
    
    width:100%;
    /* min-width:90%; */
    height:100%;

}

/* PARTIE GAUCHE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.leftGraph{
    display: flex;
    overflow:auto;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    /* background-color: peru; */
    background-color: #1E1E1E;
    background-color: rgb(222, 222, 222);
    
    width : 60%;
    max-height: 100%;
   
}

.leftUpper{
    display: flex;
    overflow:auto;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin:10px;
    /* background-color: magenta; */
    border: 1px solid magenta;
    max-width : 100%;
    height: 110%;
   
}

#distribution-retard{
    /* background-color: red; */
    margin:auto;
    width:70%;
    height:90%;
    /* border: 1px solid #1E1E1E; */
}


.leftDown{
    display: flex;
    overflow:auto;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin:10px;
    /* background-color: olivedrab; */
    max-width : 100%;
    height: 90%;
   
}

 
#cause-retard{
    /* background-color: pink; */
    margin:auto;
    width:50%;
    height:90%;
    border: 1px solid pink;

} 
#duree-retard{
    /* background-color: red; */
    margin:auto;
    width:50%;
    height:90%;
    border: 1px solid red;
}


/* PARTIE DROITE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.centerGraph{
    /* background-color: greenyellow; */
    width : 25%;

}

.rightMap{
    display: flex;
    overflow:auto;
    flex-direction: column;
    justify-content: center;
    margin:10px;
    background-color: orangered;
    background-color: #1E1E1E;
    background-color: rgb(222, 222, 222);
    width:40%;
    max-height:100%;
}

#loading-3{
    background-color: yellow;
    overflow:auto;
    margin:10px;
    height:80%;
    max-width:100%;
}

#map-graph{
    /* background-color: paleturquoise; */
    margin:10px;
    /* overflow:auto;
    margin:10px;
    height:80%;*/
    max-width:100%;
    border: 1px solid yellow;
}

#map-description{
    /* background-color: green; */
    margin:10px;
    height:20%;
    max-width:100%; 
    border: 1px solid blue;
}

