dash
dash-daq
dash-renderer
dash-core-components
dash-html-components
plotly
dash-table-experiments 
numpy
pandas==0.24.0

flask_caching
logzero

gunicorn
google-api-python-client


# seaborn
# matplotlib
# requests
# jupyter
# jupyterlab
# autopep8
# sklearn
# geopy
# pylint