# Data
pandas #==0.24.0
numpy
sklearn
geopy

# Dev
requests
logzero

# Viz
seaborn
matplotlib
plotly

# Dash
dash
dash-renderer
dash-html-components
dash-core-components
dash-table-experiments
dash-daq

# Working environment
# jupyter
# jupyterlab
# autopep8
# notebook
# ipywidget
